PrepagoApp/PrepagoWS/Resources/xsd/PrepagoWS.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://ws.abctelco/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://ws.abctelco/">
    <xsd:complexType name="realizarPrepago">
        <xsd:sequence>
            <xsd:element name="monto" type="xsd:double"/>
            <xsd:element name="idCliente" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="realizarPrepagoResponse">
        <xsd:sequence>
            <xsd:element name="folio" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="realizarPrepago" type="ns0:realizarPrepago"/>
    <xsd:element name="realizarPrepagoResponse" type="ns0:realizarPrepagoResponse"/>
</xsd:schema>