PrepagoApp/PrepagoWS/Resources/wsdl/PrepagoWS_Original.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Auto Generated -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.org/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://example.org/" name="PrepagoWSService">
    <types>
        <xsd:schema targetNamespace="http://example.org/" elementFormDefault="qualified">
            <xsd:complexType name="rPrep24">
                <xsd:sequence>
                    <xsd:element name="arg0" type="xsd:double"/>
                    <xsd:element name="arg1" type="xsd:long"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="rPrep24ret">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="rPrep24" type="tns:rPrep24"/>
            <xsd:element name="rPrep24ret" type="tns:rPrep24ret"/>
        </xsd:schema>
    </types>
    <message name="rPrep24">
        <part name="parameters" element="tns:rPrep24"/>
    </message>
    <message name="rPrep24ret">
        <part name="parameters" element="tns:rPrep24ret"/>
    </message>
    <portType name="PrepagoWS">
        <operation name="realizarPrepago">
            <input wsam:Action="http://example.org/PrepagoWS/realizarPrepagoRequest" message="tns:rPrep24"/>
            <output wsam:Action="http://example.org/PrepagoWS/realizarPrepagoResponse"
                    message="tns:rPrep24ret"/>
        </operation>
    </portType>
    <binding name="PrepagoWSPortBinding" type="tns:PrepagoWS">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="realizarPrepago">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="PrepagoWSService">
        <port name="PrepagoWSPort" binding="tns:PrepagoWSPortBinding">
            <soap:address location="http://localhost:9022/ABCTelcoWS-PrepagoWS-context-root/PrepagoWSPort"/>
        </port>
    </service>
</definitions>